NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=carteira
DATABASE_PASSWORD=carteira
DATABASE_NAME=carteira_financeira

JWT_SECRET=troque-este-segredo
JWT_EXPIRES_IN=1d
